<form class="adding-form">
    <mat-form-field class="form-item">
        <mat-label>Time zone</mat-label>
        <input matInput id="offset" formControlName="offset">
    </mat-form-field>

    <mat-form-field class="form-item">
        <mat-label>City</mat-label>
        <input matInput id="city" formControlName="city">
    </mat-form-field>

    <div>
        <ng-container>
            <button mat-raised-button color="primary" disabled>Add new zone</button>
        </ng-container>
        <ng-template>

        </ng-template>
    </div>
</form>